GITHUB_TOKEN=TODO_ADD_GITHUB_TOKEN
QDRANT_URL=TODO_ADD_QDRANT_URL
QDRANT_API_KEY=TODO_ADD_QDRANT_API_KEY
ENKRYPT_API_KEY=TODO_ADD_ENKRYPT_API_KEY
OPENAI_API_KEY=TODO_ADD_OPENAI_API_KEY
DATABASE_URL="file:./dev.db"
